<h1><i class="fa fa-play-circle"></i> Add new PlaylistItem</h1>
<hr />

<form action="/playlistitem<% if(item){ %>/<%= item %><% } %>" method="POST">

  <div class="row">
    <div class="small-3 columns">
      <label for="middle-label" class="text-right middle">Name</label>
    </div>
    <div class="small-9 columns">
      <input type="text" id="middle-label" name="name" placeholder="Item name" required>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label for="middle-label" class="text-right middle">Duration in seconds</label>
    </div>
    <div class="small-9 columns">
      <input type="text" id="middle-label" name="duration" placeholder="30">
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <label for="middle-label" class="text-right middle">Service</label>
    </div>
    <div class="small-9 columns">

      <ul class="tabs" data-tabs id="playlistitem-tabs">
        <li data-apptype="twitter" class="tabs-title is-active"><a href="#panel1" aria-selected="true"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li data-apptype="weather" class="tabs-title"><a href="#panel2"><i class="fa fa-sun-o"></i> Weather</a></li>
        <li data-apptype="msg" class="tabs-title"><a href="#panel3"><i class="fa fa-comment"></i> Message</a></li>
      </ul>

      <div class="tabs-content" data-tabs-content="playlistitem-tabs">
        <div class="tabs-panel is-active" id="panel1" data-apptype="twitter">
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Twitter Filter</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="middle-label" name="twitterFilter" placeholder="#music">
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Tweet duration in seconds</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="middle-label" name="twitterTweetDuration">
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Show Retweets</label>
            </div>
            <div class="small-9 columns">
              <input type="checkbox" name="twitterShowRetweets" />
            </div>
          </div>

        </div>
        <div class="tabs-panel" id="panel2" data-apptype="weather">
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Location</label>
            </div>
            <div class="small-9 columns weatherLocation-column">
              <input disabled type="text" id="middle-label" name="weatherLocation" autocomplete="off" spellcheck="off" data-toggle="location-dropdown">
              <div class="dropdown-pane bottom" id="location-dropdown" data-dropdown data-close-on-click="true">
              </div>
              <input disabled type="hidden" name="weatherLocationCode" value="">
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Unit</label>
            </div>
            <div class="small-9 columns">
              <input disabled type="radio" name="weatherUnit" value="true" id="c" checked><label for="c">°C</label>
              <input disabled type="radio" name="weatherUnit" value="false" id="f"><label for="f">°F</label>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Font color</label>
            </div>
            <div class="small-9 columns">
              <input disabled type="text" id="middle-label" name="weatherFontColor">
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Background image</label>
            </div>
            <div class="small-9 columns">
              <input disabled type="text" id="middle-label" name="weatherBackgroundImage">
            </div>
          </div>
        </div>
        <div class="tabs-panel" id="panel3" data-apptype="msg">
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Headline</label>
            </div>
            <div class="small-9 columns">
              <input disabled type="text" id="middle-label" name="msgHeadline">
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Text</label>
            </div>
            <div class="small-9 columns">
              <textarea disabled id="middle-label" name="msgText"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label for="middle-label" class="text-right middle">Image</label>
            </div>
            <div class="small-9 columns">
              <input disabled type="text" id="middle-label" name="msgImage">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br />
  <div class="row">
    <div class="small-3 columns">
      <label for="middle-label" class="text-right middle">Add to these Playlists</label>
    </div>
    <div class="small-9 columns">
      <select name="playlist" multiple>
        <% for(var i=0; i<lists.length; i++){ %>
          <option value="<%= lists[i].id %>"><%= lists[i].name %></option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-offset-3 columns">
      <input type="hidden" name="appType" value="twitter" id="appType" />
      <button type="submit" class="button success"><i class="fa fa-save"></i> save</button>
    </div>
  </div>

</form>

<hr />
<a href="/" class="button alert"><i class="fa fa-times"></i> cancel</a>

<script type="text/javascript">

/**
 * Onload function for all PlaylistItem forms
 */
  $.PlaylistItem = function(){
    $.changeAppTab();
    $.Geocoder();

    <% if(item){ %>
      $.PlaylistItemEdit();
    <% } %>
  };

  /**
   * Changes the Tabs between different Apps: important for hidden field
   * @param  {String} apptype [weather,twitter,msg]
   */
  $.changeAppTab = function(apptype) {
    if(!apptype) apptype = $('#playlistitem-tabs li.is-active').attr('data-apptype');
    $('input#appType').attr('value', apptype);
    $('form .tabs-panel').find('input, textarea').prop('disabled', true);
    $('form .tabs-panel[data-apptype="'+apptype+'"]').find('input, textarea').prop('disabled', false);
  };

  /**
   * Event Listener for changing tabs
   */
  $('#playlistitem-tabs').on('change.zf.tabs', function(i, e){
    var apptype = $(e).attr('data-apptype');
    $.changeAppTab(apptype);
  });

  /**
   * Changes the create form to an update form
   */
  $.PlaylistItemEdit = function(){
    io.socket.get('/playlistitem/<%= item %>', function(resData, jwres) {

      // open right tab
      $('#playlistitem-tabs').foundation('selectTab', $('.tabs-panel[data-apptype="'+resData.appType+'"]'));

      // insert data into form inputs
      $.each(resData, function(index, value) {
          $('form input[name="'+index+'"]:text').attr('value', value);
          $('form textarea[name="'+index+'"]').html(value);
          $('form input[name="'+index+'"][value="'+value+'"]:radio').prop('checked', true);
          $('form input[name="'+index+'"]:checkbox').prop('checked', value);
          if(typeof(value) === 'object' && value !== null)
            $('form select[name="'+index+'"] option[value="'+value.id+'"]').attr('selected','');
      });

    });
  };

  /**
   * Shows Dropdown of weather locations and binds them on click
   * @param  {Array} data List of location objects with infos about country, country code, etc..
   */
  $.openGeocodeDropdown = function(data){
    var menu = $('<ul class="menu vertical">');
    for(var i=0; i<data.message.length; i++){
      var menuItem = $('<a>')
          .html(data.message[i].city + ', ' + data.message[i].state + ', ' + data.message[i].country)
          .attr('data-weatherLocationCode', data.message[i].city + ',' + data.message[i].countryCode)
          .attr('data-weatherLocation', data.message[i].city)
          .appendTo(menu)
          .bind('click', function(e){
            e.preventDefault();
            $('input[name="weatherLocation"]')
              .attr('value', $(this).attr('data-weatherLocation'))
              .val($(this).attr('data-weatherLocation'));
            $('input[name="weatherLocationCode"]').attr('value', $(this).attr('data-weatherLocationCode'));
            $('#location-dropdown').foundation('close');
          })
          .wrapAll('<li />');
    }
    $('#location-dropdown').html(menu);
    $('#location-dropdown').foundation('open');
  };

  /**
   * Event Listener for the weather location input. Calls the geocoder socket to obtain location data
   */
  $.Geocoder = function(){
    $('input[name="weatherLocation"]').on('input', function(){
      $('input[name="weatherLocationCode"]').attr('value','');
      io.socket.get('/admin/geocode?location='+$(this).val(), function(resData, jwres){
        if(!resData) return;
        $.openGeocodeDropdown(resData);
      });
    });

  };

</script>
