<h1><i class="fa fa-desktop"></i> Add new Screen</h1>
<hr />

<form action="/screen" method="POST">
  <div class="row">
    <div class="small-3 columns">
      <label for="middle-label" class="text-right middle">Name</label>
    </div>
    <div class="small-9 columns">
      <input type="text" id="middle-label" name="name" placeholder="Monitor name" required>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label for="middle-label" class="text-right middle">Playlist to display</label>
    </div>
    <div class="small-9 columns">
      <select name="list">
        <option>None</option>
        <% for(var i=0; i<lists.length; i++){ %>
          <option value="<%= lists[i].id %>"><%= lists[i].name %></option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-offset-3 columns">
      <button type="submit" class="button success"><i class="fa fa-save"></i> save</button>
    </div>
  </div>
</form>

<hr />
<a href="/" class="button alert"><i class="fa fa-times"></i> cancel</a>
