<section class="columns slide msg" data-id="<%= item.id %>">

  <div class="row align-center">
    <div class="small-10 columns">

      <div class="msg__card">
        <% if(item.msgHeadline){ %>
          <h1><%= item.msgHeadline %></h1>
          <p><%= item.msgText %></p>
        <% } else { %>
          <div class="callout alert">
            <h5><i class="fa fa-frown-o"></i> No Message data</h5>
          </div>
        <% } %>
      </div>

    </div>
  </div>

</section>
