<%
  var tweets = item.data.statuses;
  var height = tweets.length * 100;
%>

<section class="columns slide twitter" style="min-height: <%= height %>vh">

  <% for(var i=0; i<tweets.length; i++){ %>
    <div class="twitter__tweet row expanded align-middle">

      <div class="twitter__tweet__inner column">
        <div class="row align-center">
          <div class="small-10 columns">

            <div class="twitter__card">
              <% if(tweets.length){ %>
                <p><%= tweets[i].text %></p>
              <% } else { %>
                <div class="callout alert">
                  <h5><i class="fa fa-frown-o"></i> No Twitter data</h5>
                </div>
              <% } %>
            </div>

          </div>
        </div>

      </div>
    </div>
  <% } %>

</section>
