<section class="fullscreen" id="login">

  <div class="row align-center align-middle" style="height:100%">
      <div class="small-12 medium-6 large-4">
        <section class="dark" id="contact">
          <h1>Signup</h1>
          <form action="/signup" method="post">
            <div class="row">
              <div class="columns shrink small-12">
                <label for="name"><i class="fa fa-user"></i> Name</label>
              </div>
              <div class="columns small-12">
                <input name="name" type="text"/>
              </div>
              <div class="columns shrink small-12">
                <label for="email"><i class="fa fa-envelope"></i> Email-Address</label>
              </div>
              <div class="columns small-12">
                <input name="email" type="text"/>
              </div>
            </div>

            <div class="row">
              <div class="columns shrink small-12">
                <label for="email"><i class="fa fa-key"></i> Password</label>
              </div>
              <div class="columns small-12">
                <input name="password" type="password"/>
              </div>
            </div>

            <div class="row">
              <div class="columns text-right">
                <input class="button hollow" type="submit" value="Register" />
              </div>
            </div>
          </form>
        </section>
        <div class="row">
          <div class="small-12 columns text-center"><a href="/login" class="expanded large button"><i class="fa fa-sign-in"></i> Login in here</a></div>
        </div>
    </div>
  </div>


</section>
