<!DOCTYPE html>
<html>
  <head>
    <title>Our Info Screen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/homepage.css">
  </head>

  <body>
    <div data-sticky-container>
      <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="row">
          <div class="small-12 columns">
            <div class="top-bar-left">
              <ul class="dropdown menu" data-magellan>
                <li class="menu-text hide-for-medium">InfoScreen</li>
                <li><a href="#header"><i class="fa fa-home" aria-hidden="true"></i> Welcome</a></li>
                <li><a href="#code"><i class="fa fa-code" aria-hidden="true"></i> Overview</a></li>
                <li><a href="#services"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Services</a></li>
                <li><a href="#api"><i class="fa fa-book" aria-hidden="true"></i> Services</a></li>
                <li><a href="#contact"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a></li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="menu">
                <li><a href="#">Register</a></li>
                <li><a class="button hollow">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="header" data-magellan-target="header">
      <div class="row">
        <div class="small-12 columns">
        <p style="width:2px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </section>
    <section id="code" data-magellan-target="code">
      <div class="row">
        <div class="small-12 columns">
        <p style="width:2px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </section>
    <section id="services" data-magellan-target="services">
      <div class="row">
        <div class="small-12 columns">
        <p style="width:2px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </section>
    <section id="api" data-magellan-target="api">
      <div class="row">
        <div class="small-12 columns">
        <p style="width:2px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </section>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation-sites/dist/foundation.min.js"></script>
    <script type="text/javascript">
      $(document)
        .foundation()
        .ready(function(){});
    </script>
  </body>
</html>
