<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/app.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Screen App</li>
          <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
          <li><a href="/docs"><i class="fa fa-book" aria-hidden="true"></i> API</a></li>
          <!-- <li><a href="#">Play</a></li> -->
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/logout" class="button hollow">Logout</a></li>
        </ul>
      </div>
    </div>

    <main>
      <div class="row">
        <div class="small-12 columns">
          <%- body %>
        </div>
      </div>
    </main>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/foundation-sites/dist/js/foundation.min.js"></script>
    <script src="/bower_components/Sortable/Sortable.min.js"></script>
    <script type="text/javascript">
      $(document)
        .foundation()
        .ready(function(){

          // fix space bar bug in weather dropdown
          Foundation.Keyboard.register('Dropdown', {});

          try{
            $.Playlist();
          } catch(err){

          }
          try{
            $.PlaylistItem();
          } catch(err){

          }
        });

    </script>
  </body>
</html>
